<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ValidatePro</title>

<link th:rel="stylesheet"
	th:href="@{../webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{../assets/datatable/datatables.css}" />
</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-info static-top">
		<div class="container">
			<a class="navbar-brand" href="/">ValidatePro</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				
				<ul class="navbar-nav ml-auto">

					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>

					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Guide</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	

	<div class="container">
	<h2>Chargebacks</h2>
	<br>
		<div>
			<div class="card-header">Summary</div>
			<div>
			
			<table class="table table-bordered table-sm ">
				<thead>
						<tr class="card-title" >
							
						</tr>
					</thead>
    <thead class="thead-dark">
        <tr>
            <th>Header Data</th>
			<th>Count by Reject Reason</th>
        </tr>
    </thead>
    <tbody>
    	<tr><td>Customer Number: 10089667</td>
						<td>
							<table border="1" >
									<tbody>
										<tr class="clickable" data-toggle="collapse"
											data-target="#group-of-rows-7" aria-expanded="false"
											aria-controls="group-of-rows-7">
											<td><i class="fa fa-folder" ></i>Reason</td>
											<td><i class="fa fa-folder"></i>Count</td>
										</tr>
									</tbody>
									<tbody id="group-of-rows-7" class="collapse">
										<tr class="table-warning">
											<td><i class="fa fa-folder-open"></i>Wrong Price</td>
											<td>2</td>
										</tr>
										<tr class="table-warning">
											<td><i class="fa fa-folder-open"></i>Not on Contract</td>
											<td>2</td>
										</tr>
										<tr class="table-warning">
											<td><i class="fa fa-folder-open"></i>Expired Contracts</td>
											<td>1</td>
										</tr>
										<tr class="table-warning">
											<td><i class="fa fa-folder-open"></i>Not Eligible</td>
											<td>1</td>
										</tr>
									</tbody>
							</table>
						</td>
						</tr>
    </tbody>
    </table>
    </div>
    </div>
		<!-- 
		<div class="row card border-info mb-3" style="width: 100%" >
		  <div class="card-header">Summary :
		  <h2 class="bg-success" th:text="${fileName}"></h2>
		  </div>
		  
		  <div class="card-body text-info">
				<table id="summary" class="table table-bordered table-responsive"
					style="width: 100%">
					<thead>
						<tr class="card-title" >
							<th>Header Data</th>
							<th>Count by Reject Reason</th>
						</tr>
					</thead>
					<tbody>
						<tr><td>Customer Number: 10089667</td>
						<td><table border="1" >
								<tr><td>Wrong Price</td><td>1</td></tr>
								<tr><td>Not on Contract</td><td>1</td></tr>
								<tr><td>Expired Contracts</td><td>1</td></tr>
								<tr><td>Not Eligible</td><td>1</td></tr>
							</table>
						</td>
					</tbody>
				</table>
			</div>
		</div>
		 -->
		<div>
			<div class="card-header">Rejected Item Details</div>
			<div>
			
			<table class="table table-bordered text-center table-sm ">
				<thead>
						<tr class="card-title" >
							
						</tr>
					</thead>
    <thead class="thead-dark">
        <tr>
        	<th>#</th>
            <th>Customer ID</th>
			<th>Product ID</th>
			<th>Product Price</th>
			<th>Date</th>
			<th>Rejected Reasons</th>
        </tr>
    </thead>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
            <td><i class="fa fa-folder"></i>1</td>
            <td>10089667</td>
			<td>11112222201</td>
			<td class = 'text-danger'>100</td>
			<td>2021-01-01</td>
			<td>Wrong Price</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-1" class="collapse">
    	<tr class="table-info font-weight-bold">
    		<td>>></td>
            <td >Contract ID</td>
            <td>Customer ID</td>
            <td>Customer Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Product Price</td>
            <td>Product ID</td>
        </tr>
    	<tr class="table-info">
    		<td></td>
            <td>CONT1103-1</td>
            <td>10089667</td>
            <td>Beaufort County Hospital</td>
            <td>2020-01-01</td>
            <td>2023-01-01</td>
            <td>90</td>
            <td>11112222201</td>
        </tr>
    </tbody>
    <tbody>
    <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1-2" aria-expanded="false" aria-controls="group-of-rows-1-2">
            <td><i class="fa fa-folder"></i>2</td>
            <td>10089667</td>
			<td>11112222201</td>
			<td class = 'text-danger'>110</td>
			<td>2021-01-01</td>
			<td>Wrong Price</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-1-2" class="collapse">
    	<tr class="table-info font-weight-bold">
    		<td>>></td>
            <td >Contract ID</td>
            <td>Customer ID</td>
            <td>Customer Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Product Price</td>
            <td>Product ID</td>
        </tr>
    	<tr class="table-info">
    		<td></td>
            <td>CONT1103-1</td>
            <td>10089667</td>
            <td>Beaufort County Hospital</td>
            <td>2020-01-01</td>
            <td>2023-01-01</td>
            <td>90</td>
            <td>11112222201</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-2">
            <td><i class="fa fa-folder"></i>3</td>
            <td class="text-danger">10089667</td>
			<td>11112222201</td>
			<td>60</td>
			<td>2024-04-01</td>
			<td>Not Eligible</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-2" class="collapse">
    	<tr class="table-info font-weight-bold">
    		<td>>></td>
            <td >Contract ID</td>
            <td>Customer ID</td>
            <td>Customer Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Product Price</td>
            <td>Product ID</td>
        </tr>
    	<tr class="table-info">
    		<td></td>
            <td>CONT1103-4</td>
            <td>10089677</td>
            <td>Cardinal - CA Branch</td>
            <td>2020-01-01</td>
            <td>2024-04-01</td>
            <td>60</td>
            <td>11112222201</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-3" aria-expanded="false" aria-controls="group-of-rows-3">
            <td><i class="fa fa-folder"></i>4</td>
            <td>10089667</td>
			<td class="text-danger">111122222021111</td>
			<td>80</td>
			<td>2022-01-01</td>
			<td>Not on Contract</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-3" class="collapse">
    	<tr class="table-info font-weight-bold">
    		<td>>></td>
            <td >Contract ID</td>
            <td>Customer ID</td>
            <td>Customer Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Product Price</td>
            <td>Product ID</td>
        </tr>
    	<tr class="table-info">
    		<td></td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>111122222021111</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-3-2" aria-expanded="false" aria-controls="group-of-rows-3-2">
            <td><i class="fa fa-folder"></i>5</td>
            <td>10089667</td>
			<td class="text-danger">11112222202222222</td>
			<td>80</td>
			<td>2022-01-01</td>
			<td>Not on Contract</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-3-2" class="collapse">
    	<tr class="table-info font-weight-bold">
    		<td>>></td>
            <td >Contract ID</td>
            <td>Customer ID</td>
            <td>Customer Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Product Price</td>
            <td>Product ID</td>
        </tr>
    	<tr class="table-info">
    		<td></td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>111122222021111</td>
        </tr>
    </tbody>
     <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-4" aria-expanded="false" aria-controls="group-of-rows-4">
            <td><i class="fa fa-folder"></i>6</td>
            <td>10089667</td>
			<td>11112222202</td>
			<td>60</td>
			<td class="text-danger">2019-01-01</td>
			<td>Expired Contracts</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-4" class="collapse">
    	<tr class="table-info font-weight-bold">
    		<td>>></td>
            <td>Contract ID</td>
            <td>Customer ID</td>
            <td>Customer Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Product Price</td>
            <td>Product ID</td>
        </tr>
    	<tr class="table-info">
    		<td></td>
            <td>CONT1103-4</td>
            <td>10089677</td>
            <td>Cardinal - CA Branch</td>
            <td>2020-01-01</td>
            <td>2024-01-01</td>
            <td>90</td>
            <td>11112222202</td>
        </tr>
        
    </tbody>
    
    
</table>
</div>
		</div>
		
		</div>

	<script th:src="@{../webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{../webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{../webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{../assets/datatable/datatables.js}"></script>
	<script th:src="@{../webjars/popper.js/umd/popper.min.js}"></script>


	<script>
	/* $('#summary').DataTable({
        "processing": false,
        "serverSide": true,
        "ajax": {
            "url": "/headerData",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        },
        "columns": [
            {"data": "name", "width": "20%"},
            {"data": "position","width": "20%"},
            {"data": "office", "width": "20%"},
            {"data": "start_date", "width": "20%"},
            {"data": "salary", "width": "20%"}
        ]
    });
    
    $('#items').DataTable({
        "processing": false,
        "serverSide": true,
        "ajax": {
            "url": "/itemData",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        },
        "columns": [
            {"data": "CustomerID", "width": "20%"},
            {"data": "ProductId","width": "20%"},
            {"data": "ProductPrice", "width": "20%"},
            {"data": "Startdate", "width": "20%"},
            {"data": "rejectReasons", "width": "40%"}
        ]
    });
 */
</script>

</body>
</html>